<html>
<head>
<style>
.realfooter{ background-color: black;
            opacity:0.8;
            height:150px;
            margin-top:15px;
            text-align:center;}
 .text{padding-top:25px;}
 p1{font-size:20px;
    color:white;}

 .copyright{font-size:10px;
    font-family:Arial;}


 .aboutus{font-size:20px;
    font-family:Didot;
    color:white;}

    </style>
</head>
<body>
<div class="realfooter">

    <div class="text"></div>
    <p1>Earbender Music Player</p1>
    <p class = "aboutus"> We provide 110s of for you to listen. join EARBENDER and enjoy</p>
    <p class="copyright" >copyright@ 2019</p>
</div>
</div>
 {% block content %}
    {% endblock content %}
</body>
</html>