{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href=" {%  static 'images/icons/favicon.ico' %} "/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/vendor/bootstrap/css/bootstrap.min.css'% }">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/main.css' %}">


    <!--===============================================================================================-->
    <style>
		.error{
		       color:red;}

		       .login100-more{background-size: 100% 100%;}
		   #header{

         background-color: #555555;
         color:white;
         text-align:center;
         opacity: 0.8;
         }

    </style>
    <script src=" {%  static 'js/main.js' %}"></script>


</head>
<body>

<div id="header">
    <h1> Welcome to EARBENDER</h1>
</div>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="register" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-43">

						Register here
					</span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" name="first_name" type="text">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Firstname</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" name="last_name" type="text">
                    <span class="focus-input100"></span>
                    <span class="label-input100">last_name</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" name="email" type="email" required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" name="username" type="text"  minlength="1"  required>
                    <span class="focus-input100"></span>
                    <span class="label-input100">Username

						</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>


                <div class="container-login100-form-btn">
                    <input class="login100-form-btn" type="submit">
                </div>


                <li><a style="color:blue;" href="login">back to login</a></li>
                <div>
                     {% for message in messages %}<p style="color:red;">{{ message}}</p>
                      {% endfor %}
                       </div>

            </form>
            <div class="login100-more" style="background-image: url( {%  static 'images/foofighters.jpg' %});">
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
{% include 'footer.html' %}
<!-- Footer -->


</body>
</html>